<%= javascript_include_tag "aboutscript.js" %>
<%= javascript_include_tag "chatwindow.js" %>
<%= javascript_include_tag "matcheffects.js" %>

			<table class="aboutTable">
				<tr>
					<td> <!-- Sam -->
						<div class="email"></div>
						<div class="bar">
							<div class="percentage"></div>
						</div>
					
						<div><img src="https://lh4.googleusercontent.com/-9GSmbQ6EkVQ/AAAAAAAAAAI/AAAAAAAABAI/pUxy8K8gbO4/photo.jpg" id="face"/></div>
						
						<div class="aboutus"></div>
					</td>
					<td> <!-- Stella -->
						<div class="email"></div>
						<div class="bar">
							<div class="percentage"></div>
						</div>
					
						<div><img src="http://cs.swarthmore.edu/~scho1/images/myFace.jpg" id="face"/></div>
						
						<div class="aboutus"></div>
					</td>
					<td> <!-- Luis -->
						<div class="email"></div>
						<div class="bar">
							<div class="percentage"></div>
						</div>
					
						<div><img src="http://penguinsanddaemons.files.wordpress.com/2013/12/headshot.png" id="face"/></div>
						
						<div class="aboutus"></div>
					</td>
				</tr>
				<tr>
					<td> <!-- Rita -->
						<div class="email"></div>
						<div class="bar">
							<div class="percentage"></div>
						</div>
					
						<div><img src="https://lh4.googleusercontent.com/-iskBUpcN7JA/AAAAAAAAAAI/AAAAAAAAACA/1NAlfAkj-fc/photo.jpg" id="face"/></div>
						
						<div class="aboutus"></div>
					</td>
					<td> <!-- Adrian -->
						<div class="email"></div>
						<div class="bar">
							<div class="percentage"></div>
						</div>
					    <!--
						<div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWZlGuoNtPqRgKKXosqedZQupIGbbS1htzahPXLnpYw19pove4" id="face"/></div>
						-->
                        <div><%= image_tag "adrian.jpg", id: "face"%></div>
						
						<div class="aboutus"></div>
					</td>					
				</tr>
			</table>
		</div>
	<div><br><br></div>
	<div><%= image_tag "concept.png", id: "concept"%></div>
    <h1>Research</h1>
    <div class="chatwindow"></div>
    <h1>Product Flow</h1>
	<div>
		<%= image_tag "aboutDiag.png", id: "diag" %>
	</div>
