<%= javascript_include_tag "indexscript" %>
<%= javascript_include_tag "chatwindow" %>
<div>
  <p>Talk to our MatchBot to meet your match!</p>
  <div>
    <div class="chatwindow">
    </div>
    <div id="userinput">
      <input name="inputtext" placeholder="Press enter to send"/>
    </div>

    <!--hidden form -->

    <%= form_for @user do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.text_field :email %>
        <%= f.text_field :freqs %>
        <%= f.text_field :avg_length %>
        <%= f.text_field :total_words %>

        <%= f.submit "Submit" %>

    <% end %>
