<h1>This is a test form for adding new Users with child Responses</h1>

<%= form_for @user do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :email %>
    <%= f.text_field :email %>
    <p>
    <%= f.fields_for :responses do |builder| %>
          <%= builder.label :content %>
          <%= builder.text_field :content %>
    <% end %>
    </p>
    <%= f.submit "Submit" %>
<% end %>