<%= javascript_include_tag "indexscript.js" %>
<%= javascript_include_tag "chatwindow.js" %>

<div>
  <p>Talk to MatchBot to meet your match! It'll only take three minutes.</p>
  <div>
    <div class="chatwindow">
      <table class='prompt'>
        <tr>
          <td><span>You &gt;</span></td>
          <td><input id="userinput" name='inputtext' placeholder='Type here'/></td>
        </tr>
      </table>
    </div>


    <!--hidden form -->

    <%= form_for @user do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.hidden_field :email %>
        <%= f.hidden_field :freqs %>
        <%= f.hidden_field :avg_length %>
        <%= f.hidden_field :total_words %>

        <%= f.submit "Submit", id:"submit" %>

    <% end %>
